.loginPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
}

.login-container button {
  background-color: seagreen;
  border: 0;
  color: white;
  cursor: pointer;
}

.login-container button:disabled {
  background-color: #555;
  border: 0;
  color: white;
  cursor: not-allowed;
}

.login-container input {
  margin: 1rem;
  text-align: center;
}

.presentationLogin {
  text-align: center;
}
