body {
  align-items: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

body input {
  font-size: large;
  min-height: calc(1rem + 4vmin);
  min-width: calc(10rem + 50vmin);
}

body select {
  font-size: large;
  min-height: calc(1rem + 4vmin);
  min-width: calc(10rem + 50vmin);
}

body button {
  border-radius: 5px;
  font-size: large;
  min-height: calc(2rem + 2vmin);
  min-width: calc(4rem + 4vmin);
  padding: 0.5rem;
}
